<div class="container">
  <h1>Password Strength Meter</h1>
  <main class="main">
    <form [formGroup]="passwordForm">
      <input formControlName="password" id="password" placeholder="Enter password..." />
    </form>
    <div class="strength" [ngClass]="{ 'gray-text': passwordForm.get('password')?.value?.length === 0 && passwordForm.get('password')?.touched }">
      <div [ngClass]="{
        'weak': isWeak,
        'medium': isMedium,
        'strong': isStrong
      }">
        Weak
      </div>
      <div [ngClass]="{
        'medium': isMedium,
        'strong': isStrong
      }">
        Medium
      </div>
      <div [ngClass]="{'strong': isStrong}">Strong</div>
    </div>
  </main>
</div>