<div class="container">
  <h1>Password Strength Meter</h1>
  <main class="main">
    <form [formGroup]="passwordForm" id="form">
      <input formControlName="password" id="password" placeholder="Enter password..." />
      <div class="form__error" *ngIf="passwordForm.get('password')?.errors?.['minlength']">You must enter at least 8 characters</div>
      <button class="form__delete" *ngIf="passwordForm.get('password')?.value?.length > 0" (click)="resetPassword()">&#x2716;</button>
    </form>
    <div class="main__strength" [ngClass]="{'short': isShort}">
      <div [ngClass]="{
        'easy': isEasy,
        'medium': isMedium,
        'strong': isStrong
      }">
        Easy
      </div>
      <div [ngClass]="{
        'medium': isMedium,
        'strong': isStrong
      }">
        Medium
      </div>
      <div [ngClass]="{'strong': isStrong}">Strong</div>
    </div>
  </main>
</div>